@model IEnumerable<Telecom2.Models.CloseCode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CClose
        </th>
        <th>
            FCClose
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CClose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FCClose)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CloseCodeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CloseCodeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CloseCodeID })
        </td>
    </tr>
}

</table>
