@model Telecom2.Models.Request

@{
    ViewBag.Title = "Create";
}

<h2>Создать</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Заявка</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OperatorID, "Оператор")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OperatorID", String.Empty)
            @Html.ValidationMessageFor(model => model.OperatorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientID, "Телефон")
        </div>
      
     @* <p>
         @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    </p> *@
        <div class="editor-field">
            @Html.DropDownList("ClientID", String.Empty)
            @Html.ValidationMessageFor(model => model.ClientID)
              @*@Html.TextBoxFor(model => model.Client.Phone)
              @Html.ValidationMessageFor(model => model.Client.Phone)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpenCodeID, "Код открытия")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OpenCodeID", String.Empty)
            @Html.ValidationMessageFor(model => model.OpenCode.FCOpen)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.DamageCodeID, "Код повреждения")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DamageCodeID", String.Empty)
            @Html.ValidationMessageFor(model => model.DamageCodeID)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.EngineerID, "Район")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EngineerID", String.Empty)
           @Html.ValidationMessageFor(model => model.EngineerID)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.RunTime, "Время выезда")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RunTime)
            @Html.ValidationMessageFor(model => model.RunTime, "Значение должно быть либо 1(утро), либо 2(вечер)")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RunDate, "Дата выезда")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RunDate)
            @Html.ValidationMessageFor(model => model.RunDate, "Значение не является допустимым")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CloseCodeID, "Код закрытия")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CloseCodeID", String.Empty)
            @Html.ValidationMessageFor(model => model.CloseCodeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment, "Комментарий")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

       
    </fieldset>
     <p>
            <input type="submit" value="Создать" />
        </p>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
